/* instal fonts */

@font-face {
    font-family: abrilFat;
    src: url(../fonts/AbrilFatface-Regular.ttf);
}

.fitur {
    background: yellow;
}

body {
    margin: 0;
}

.container {
    width: 70%;
    overflow: hidden;
    margin: auto;
}

.header {
    width: 100%;
    overflow: hidden;
    background: #b1b1b1;
    /* padding-left: 50px;
    margin-bottom: 50px; */
}

.header .logo {
    font-size: 32px;
    float: left;
    font-family: Vujahday Script;
}

.header .navigation {
    float: right;
    margin-top: 40px;
}

.header .navigation li {
    float: right;
    margin-left: 20px;
    font-size: 18px;
    display: block;
    font-family: sans-serif;
}

.header .navigation li a {
    color: #fff;
    text-decoration: none;
}

.header .navigation li a:hover {
    color: red;
    text-decoration: underline;
}


/* .header .navigation li a:visited {
    color: blue;
} */